<div class="container">
  <div class="row">
      <container class="col-md-3" [title] = 'P2N'></container>
      <container class="col-md-3" [title] = 'APGEE'></container>
      <container class="col-md-3" [title] = 'Orchestra'></container>
      <div class="col-md-3">
          <div class="row">
              <container class="col-md-12" [title] = 'Scoring'></container>
          </div>
          <div class="row">
              <container class="col-md-12" [title] = 'Drone'></container>
          </div>
      </div>
  </div>
</div>